src/resolver_athena_client/generated/* linguist-generated=true
tests/functional/e2e/testcases/**/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/functional/e2e/testcases/**/*.png filter=lfs diff=lfs merge=lfs -text
